

<DOCTYPE html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-warning">
    <!-- Navbar content -->

          <h4><b><p style="margin-left:550px;">Leave Report Information</p><h4>
            
            </nav>
            <br>
            <br>
            <br>

            <br>
            <style>
            element.style {
                margin-left: 300;
            }
        </style>
            <br><br>
            <div class="text-center">
                <a href="{% url 'Employee_Table' %}"  class="btn btn-danger" menu-link>Employee_Table
              
            </a>
              </div>
              <br>   
              <div class="text-center">
                <a href="{% url 'Employee_leave' %}"  class="btn btn-danger" menu-link>Employeeleave_details
                
              </a>
              </div>

              <br> 
              <div class="text-center">
                <a href="{% url 'main_per' %}"  class="btn btn-danger" menu-link>EmployeePermission_details 
              </a>
              </div>
              <br> 
           

              <div class="text-center">
               <button type="button" class="btn btn-secondary"><p style="margin-left:50px;margin-right:40px">Generate Reports</p></button>
              </div>
              <br>
              <br>
              <div>
              <a href="{% url 'emp_info' %}"><p style="margin-left:200px">Employee Information List</p></a>
              <a href="{% url 'leave_info' %}"><p style="margin-left:450px;margin-top:-40px">Leave Information For A Selected Month</p></a>
              <a href="{% url 'permission_info' %}"><p style="margin-left:800px;margin-top:-40px">permission Information For A Selected Month</p></a>
              </div>

             
             
              
<br>
<br>
            </div>
          

</body>
</DOCTYPE>
 